/* CSS duplicated from Wikidot proper -_- */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://scpwiki.github.io/sigma/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://scpwiki.github.io/sigma/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
}

body {
  font-size: .95em;
  color: #333;
  font-family: Inter,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  font-feature-settings: 'case','ss01','ss04';
}

li, p {
  line-height: 1.5;
}

blockquote {
  border: 1px dashed #999;
  padding: 0 12.8px;
  background-color: #f4f4f4;
}

a {
  color: #b01;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.collapsed {
  display: none;
}

h4 {
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 0;
}
